@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Headline;
    src: url(/fonts/Disket-Mono-Regular.woff2) format("woff2"),
      url(/fonts/Disket-Mono-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  @font-face {
    font-family: Headline;
    src: url(/fonts/Disket-Mono-Bold.woff2) format("woff2"),
      url(/fonts/Disket-Mono-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  @font-face {
    font-family: Body;
    src: url(/fonts/FavoritMonoStd-Light.woff2) format("woff2"),
      url(/fonts/FavoritMonoStd-Light.woff) format("woff");
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  @font-face {
    font-family: Body;
    src: url(/fonts/FavoritMonoStd-Book.woff2) format("woff2"),
      url(/fonts/FavoritMonoStd-Book.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  @font-face {
    font-family: Body;
    src: url(/fonts/FavoritMonoStd-Regular.woff2) format("woff2"),
      url(/fonts/FavoritMonoStd-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  @font-face {
    font-family: Body;
    src: url(/fonts/FavoritMonoStd-Bold.woff2) format("woff2"),
      url(/fonts/FavoritMonoStd-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
  }

  html {
    font-family: "Body", system-ui, sans-serif;
    color: theme('colors.white');
  }
}

@layer utilities {
  .displayLarge {
    text-transform: uppercase;
    font-family: "Headline";
    font-size: theme("fontSize.6xl");
    font-weight: 400;
    letter-spacing: theme("letterSpacing.tighter");
  }

  .headlineLarge {
    text-transform: uppercase;
    font-family: 'Headline';
    font-size: theme('fontSize.3xl');
    font-weight: normal;
    letter-spacing: theme('letterSpacing.tighter');
  }

  .titleMedium {
    text-transform: uppercase;
    font-family: 'Headline';
    font-size: theme('fontSize.sm');
    font-weight: normal;
    letter-spacing: theme('letterSpacing.wider');
  }

  .bodyMedium {
    font-family: "Body";
    font-size: 15px;
    font-weight: 200;
  }

  .labelLarge {
    text-transform: uppercase;
    font-family: 'Headline';
    font-size: theme('fontSize.xs');
    font-weight: normal;
    letter-spacing: theme('letterSpacing.wider');
  }

  .labelSmall {
    text-transform: uppercase;
    font-family: 'Headline';
    font-size: theme('fontSize.2xs');
    font-weight: 700;
    letter-spacing: theme('letterSpacing.wider');
  }

  a {
    font-family: 'Headline';
    letter-spacing: theme('letterSpacing.widest');

    &:hover {
      color: theme('colors.orange');
    }
  }

  footer a {
    text-transform: uppercase;
    font-size: 14px;
  }

  nav a[aria-current="page"] {
    color: theme('colors.orange');
  }

  .buttonContainer {
    padding: 0.5rem 1.5rem;
    width: fit-content;
    text-align: center;
    color: theme("colors.black");
    font-family: "Headline";
    font-size: theme('fontSize.sm');
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-size: 200% 100%;
    background-position: right bottom;
    background-image: linear-gradient(to left, theme("colors.orange") 50%, theme("colors.white") 50%);
    cursor: pointer;

    &:hover {
      background-position: left bottom;
    }
  }

  .bulletList {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-position: inside;
    list-style-image: url('/images/bullet_list_image.svg');
  }


  .bordered {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 1px solid #333;
  }

  .bordered::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2 * 1px);
    height: calc(100% + 2 * 1px);
    border-style: solid;
    border-width: 1px;
    border-image-source: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 16 16%22%3E%3Crect x=%220.5%22 y=%220.5%22 width=%2215%22 height=%2215%22 fill=%22transparent%22 stroke=%22%23fafae5%22 stroke-width=%221%22 %2F%3E%3C%2Fsvg%3E");
    border-image-slice: 50%;
    border-image-width: 8px;
    pointer-events: none;
  }

  input::placeholder {
    color: theme("colors.grayLight");
  }
}
